<!--测试数据配置-->
{{!-- PAGE_DATA: {{server}}data.json --}}
<html>
  <head>
    <!--测试less全局引用-->
   <link rel="stylesheet" href="/css/index.css" type="text/css"> 
   <style>
    /**测试 autofixer和build时的压缩*/
     div{
       display: flex;
     }
   </style>

   <!--测试js合并-->
  <script src="/js/global.js"></script><script src="/js/global-1.js"></script>

  <!--测试build时  html内压缩-->
  <script>
    function hellworld(){
      console.log('ni hao!中文')
    }
  </script>

  <!--测试build时  压缩忽略-->
  <script type="template/handlebars">
    function hellworld(){
      console.log('ni hao!')
    }
  </script>


  </head>
  <body>


    <p alt="全局变量">全局变量:{{testData}}</p>
    
    <p>全局变量(不分运行环境):{{__global.globalVar}}</p>


    <!--测试handlebar helper-->
    {{{{raw}}}}
      <script type="text/x-handlebars-template" id="my-template">
          {{testData}}
      </script>
     {{{{/raw}}}}

  </body>
</html>