<!--测试数据配置-->
{{!-- PAGE_DATA: {{server}}data.json --}}
<html>
  {{import "module/header"}}
  <body>
    <p alt="全局变量">全局变量:{{testData}}</p>
    <p>全局变量(不分运行环境):{{__global.globalVar}}</p>
    <!--测试handlebar raw helper-->
    {{{{raw}}}}
      <script type="text/x-handlebars-template" id="my-template">
          {{testData}}
      </script>
     {{{{/raw}}}}

     <!--测试handlebar import-->
     {{import template arr}}

  </body>
</html>